.buttonCreate {
    display: flex;
    align-items: center;    
    padding: 1rem;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    
    background-color: var(--blue-dark);
    color: var(--gray-100);

    transition:  background-color 0.2s;
}

.buttonCreate:hover { 
    background-color: var(--purple-dark)
}

.plus {
    display: flex;
    padding-left: 0.5rem;
}