.header {
    display: flex;
    justify-content: center;
    background-color: var(--gray-700);
    align-items: center;

    width: 100vw;
    height: 12.5rem;
}

h1 {
    color: var(--blue);  
}

.span {
    color: var(--purple-dark);
}

.rocket {
    width: 1.3rem;
    height: 2.25rem;
    margin-right: 0.75rem;
}