.tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    gap: 0.75rem;

    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    margin-top: 0.75rem;
}

.trash {
    margin-left: 0.75rem;
    border: none;
    border-radius: 4px;
    color: var(--gray-300);
    cursor: pointer;
    background: transparent;

    transition: color 0.1s;
}

.trash:hover {
    color: var(--danger);
}

.content {
    color: var(--gray-100);
    width: 39.5rem;
}

.check {
    cursor: pointer;
    color: var(--blue);
}

.isCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
    width: 39.5rem;
}

.round {
    position: relative;
}
  
.round label {
    background-color: var(--gray-500);
    border: 1px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: -8px;
    position: absolute;
    top: -5px;
    width: 28px;
}
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #5E60CE;
    border-color: #5E60CE;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }