.tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    gap: 0.75rem;

    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    margin-top: 0.75rem;
}

.trash {
    margin-left: 0.75rem;
    border: none;
    border-radius: 4px;
    color: var(--gray-300);
    cursor: pointer;
    background: transparent;

    transition: color 0.1s;
}

.trash:hover {
    color: var(--danger);
}

.content {
    color: var(--gray-100);
    width: 39.5rem;
}

.checked {
  color: var(--purple-dark);
  cursor: pointer;
}

.circleDefault {
    cursor: pointer;
    color: var(--blue);
}

.checked:hover {
  color:  var(--purple);
  transition: 0.2s;
}


.circleDefault:hover {
  color: var(--blue-dark);
  transition: 0.2s;
}

.isCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
    width: 39.5rem;
}

@media only screen and (max-width: 768px) {
      .tasks, .isCompleted, .content {
        width: 100%;
      }
}