.overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #000;
    opacity: 60%;
}

.content {
    position: fixed;
    background: var(--gray-600);
    color: var(--gray-200);
    border-radius: 0.5rem;

    transform: translate(-50%, -50%);

    padding: 2rem 2.5rem;

    top: 50%;
    left: 50%;

    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttonCreate {
    background: var(--blue-dark);
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;

    color: var(--gray-100);
}

.buttonCreate:hover{
    background: var(--blue);
    transition: 0.4s; 
}

.buttonCancel {
    background: var(--danger-dark);
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;

    color: var(--gray-100);

}

.buttonCancel:hover {
    background: #ee3a1f;
    transition: 0.4s;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 1.5rem 1rem;

    }
}