.create {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: -1.6rem;
    max-height: 3.375rem;

    width: 100%;
}

form {
    display: flex;
    align-items: center;
}

.task {
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    color: var(--gray-100);
    border-radius: 8px;
    padding: 1rem;
    width: 39.8rem;
}

main {
    width: 46rem;
}

.infoTasks {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.counter {
    
}

.info {
    display: flex;
    justify-content: space-between;
    color: var(--gray-100);
    height: 1.2rem;
}

.tasksCreated {
    color: var(--blue);
}

.taskClompleted {
    color: var(--purple);
}

.noTasks{
    display: flex;
    width: 46rem;
    height: 15.25rem;
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.noTasks p{
    margin-top: 2rem;
    color: var(--gray-300);
    font-size: 1rem;
    line-height: 22px;
}

@media only screen and (max-width: 768px) {
    .container {
        font-size: 0.75rem;
        margin: 0 1rem 2rem 1rem;
    }

    .listTask {
        max-height: 22rem;
    }
    
    main {
        width: 100vw;
    }   

    .listTask, .noTasks {
        width: 100%;
        margin-top: 1rem;
    }

    form {
        width: 75%;
    }

    .task {
        width: 100%;
    }
}
 


.caretDown {
    
}



.content {
    color: var(--gray-100);
}

.checked {
  color: var(--purple-dark);
  cursor: pointer;
}

.circleDefault {
    cursor: pointer;
    color: var(--blue);
}

.checked:hover {
  color:  var(--purple);
  transition: 0.2s;
}


.circleDefault:hover {
  color: var(--blue-dark);
  transition: 0.2s;
}

.isCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
    width: 39.5rem;
}
